* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  color:#616060
}

.imagen-nota {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.botones-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {  
  --error: #c84d4d;
  --color1:#ea9a62;
  --color2:#a47345;
  --color3:#eabe62;
  --color4:#ea7862;
  --color5:#a45445;
}

a {
  color: var(--color3);
  text-decoration: none;
}


div.app {
  min-height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(245, 240, 240);
}

.app header {
  background-color:var(--color2);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app header .app-title {
  display: flex;
  align-items: center;
}

.app header .app-title h1 a {
  color: var(--color3);
}
.app header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.app footer {
  background-color:var(--color2);
  padding: 1rem;
  text-align: center;
  color: var(--color3)
}

div.app > section {
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

div.app > section.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.app section.user-data {
  background-color: var(--color2);
  padding: 1rem;
  margin-bottom: 2rem;
}

div.app > section.error p {
  margin-bottom: 1rem;
}

div.app > section h1 {
  margin-bottom: 1rem;
}

ul.note-list {
  list-style: none;
  gap: 1rem;
}

ul.note-list li {
  padding: 2rem 0;
}

ul.note-list li:first-child {
  padding-top: 0;
}

ul.note-list li ~ li {
  border-top: 1px solid var(--color2);
}

article.note {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p.loading {
  text-align: center;
  padding: 2rem;
}

form fieldset {
  border: none;
  margin-bottom: 1rem;
}

form label {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 14px;
  color: var(--color5)
}

form input {
  width: 100%;
  padding: 0.5rem;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #9b9b9b;
}

form p {
  margin-top: 1rem;
  color: var(--error);
}

form.new-note {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: white;
}

.box {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #83837f;
}

.note-text {
 
  color: var(--color5);
}

.note-text::before {
  content: '📝'
}

button {
  padding: 0.65rem 1.25rem;
  background-color: var(--color1);
  border-radius: 4px;
  color:white;
  border: none;
}

a ~ a, button ~ button {
  margin-left: 8px;
}
